<!DOCTYPE = html>
<html>
  <head>
    <title>add a puppy!</title>
  </head>

  <body>
    <h2>Add a new puppy below</h2>

    <form action="/create_puppy" method="POST">
      <label for="puppy's name: "><input type="text" name="name" /></label>
      <label for="breed: "><input type="text" name="breed" /></label>
      <label for="age: "><input type="text" name="months_old" /></label>
      <input type="submit" />
    </form>

  </body>
</html>
