<!DOCTYPE = html>
<html>
  <head>
    <title>New Puppy</title>
  </head>

  <body>
    <h2>Puppy's available for adoption</h2>
    <p>Puppy:</p>
    <p>name: <%= "#{params[:name]}" %></p>
    <p>breed: <%= "#{@breed}" %></p>
    <p>age: <%= "#{@months_old}" %> months old</p>

  </body>
</html>
